:root{
    --color-fondo: #232323;
    --color-primario:   #0277d4;
    --color-secundario:   #0277d4;
}

*{
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: var(--color-fondo);
}

p, a, h1, h2, h3, h4, h5, h6{
    color: #fff;
}

span{
    color: var(--color-primario) !important;
}

nav{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px #ccc;
}

.hidden{
    position: relative;
    left: -2000px;
    height: 0;
}

.flex{
    display: flex;
    background-color: var(--color-fondo);
}

.logo{
    font-size: 2rem;
    position: relative;
    margin: .5rem 0 1rem 1rem;
}

.nav-bars{
    transition: .5s;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1.75rem;
    margin: 0 0 1rem 0;
    cursor: pointer;
}

.nav-bars:hover{

    font-size: 3rem;
    color: var(--color-primario);
}

.mob-nav{
    height: 900px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo con transparencia (blanco en este caso) */
    backdrop-filter: blur(10px); /* Ajusta la cantidad de desenfoque según tus preferencias */
    position: absolute;

}

.mob-nav li{
    padding: .5rem 0 1rem 1rem;
    border-bottom: solid 1px var(--color-fondo);
}

.mob-nav li a{
    transition: .25s;
    display: block;
}

.mob-nav li a:hover{
    font-size: 2rem;
    color: var(--color-secundario);
}

.container{
    transition: .5s;
}

main{
    margin-top: 70px;
}

i{
    color: #fff;
}